
html {
  background-color: #FF5733;
}


nav{
  display:flex;
  flex-flow:row wrap;
  justify-content: flex-start;
}

header{
   display:flex;
  flex-flow:row wrap;
  justify-content: flex-start;
}

h1{
  font-size: 2em;
  text-align: center;
  font-family: "Monotype Corsiva";
  background-color: black;
  color: #FF5733;
  padding: 1.5625em 18.75em 1.5625em 18.75em;
  margin-top: 1.5625em; 
  
}

h1.flex-container{
  display:flex;
  flex-flow:row wrap;
  justify-content:space-around;
}
 
@media all and (max-width:50em){
  nav,header,h1{
    justify-content:space-around;
  }
}

@media all and (max-width:31.25em){
  nav,header,h1{
    flex-direction:column;
  }
}




h2{
  font-family: "Cooper Black";
  text-align: center;
}

section.Education h2{
  text-align: left;
}

section.Education{
  padding-bottom: 2em;
}

section.Opening{
  text-align: center;
}

section.Opening h3{
  padding:1.5625em 18.75em 1.5625em 18.75em;
  background-color: white;
}

section.Opening p{
  padding-bottom: 2em;
}
section.Facts{
  padding-bottom:9.0em;
}

section.Skills{
  padding-bottom:9.0em;
}

section.Career{
  padding-bottom:9.0em;
}

section.Questions{
  background-color: white;
}

section.Work{
  background-color: white;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }


ul{
  text-indent: 3.75em;
}

section.Facts {
  text-align: center;
}

h3{
  text-indent:2.5em;
}

h4{
  text-indent:2.75em;
}

p{
  font-family: "Times New Roman";
  padding-bottom:2em;
  padding-right:3.5em;
  padding-left:3.5em;
  text-indent: 5.00em;
}



