
html {
  background-color: #FF5733;
}



h1{
  font-size: 2em;
  text-align: center;
  font-family: "Monotype Corsiva";
  background-color: black;
  color: #FF5733;
  padding: 1.5625em 18.75em 1.5625em 18.75em;
  margin-top: 1.5625em; 
}

h2{
  font-family: "Cooper Black";
  text-align: center;
}

section.Education h2{
  text-align: left;
}

section.Education{
  padding-bottom: 2em;
}

section.Opening{
  text-align: center;
}

section.Opening h3{
  padding:1.5625em 18.75em 1.5625em 18.75em;
  background-color: white;
}

section.Opening p{
  padding-bottom: 2em;
}
section.Facts{
  padding-bottom:6.0em;
}

section.Skills{
  padding-bottom:6.0em;
}

section.Career{
  padding-bottom:6.0em;
}


ul{
  text-indent: 3.75em;
}


h3{
  text-indent:2.5em;
}

h4{
  
}

p{
  font-family: "Times New Roman";
  padding-bottom:1.5em;
  padding-right:2em;
  padding-left:2em;
  text-indent: 5.00em;
}

